body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #213F82;
}
a:hover,
a:focus {
  color: #3361c4;
}
.data,
input {
  font-family: Verdana, Geneva, sans-serif;
}
.form-submit {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page_footnotes li {
  clear: both;
  color: #5f5f61;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.navbar-sample {
  background-color: #777676;
  border-color: #e7e7e7;
  color: #fff;
}
.navbar-sample a {
  color: #fff;
}
.navbar-sample a.logo.navbar-brand,
.navbar-sample img.logo.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-sample .navbar-form {
  margin: 0;
}
.navbar-sample .navbar-form .form-group {
  width: 100px;
}
.navbar-sample .navbar-brand:hover,
.navbar-sample .navbar-brand:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-sample .navbar-toggle {
  border-color: #dddddd;
}
.navbar-sample .navbar-toggle:hover,
.navbar-sample .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-sample .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-sample .navbar-collapse,
.navbar-sample .navbar-form {
  border: solid 0px #fff;
}
.navbar-sample .navbar-nav > .dropdown > a:hover .caret,
.navbar-sample .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-sample .navbar-nav > .open > a,
.navbar-sample .navbar-nav > .open > a:hover,
.navbar-sample .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-sample .navbar-nav > .open > a .caret,
.navbar-sample .navbar-nav > .open > a:hover .caret,
.navbar-sample .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-sample .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
label.radio {
  font-weight: normal;
}
@media (max-width: 1100px) {
  .navbar-sample .sitename {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-sample .navbar-collapse {
    background-color: #1D2D5E;
  }
  .navbar-sample .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-sample .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-sample .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-sample .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-sample .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-sample .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-sample .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-sample .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-sample .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
img.img16 {
  width: 16px;
}
img.img32 {
  width: 32px;
}
img.img64 {
  width: 64px;
}
img.img80 {
  width: 80px;
}
img.img120 {
  width: 120px;
}
img.img160 {
  width: 160px;
}
img.img200 {
  width: 200px;
}
#footer {
  background-color: #777676;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
#footer a {
  color: #fff;
}
#footer a:hover,
#footer a:focus {
  color: #ccc;
  text-decoration: none;
}
.label-info {
  background-color: #777676;
}
.well {
  background-color: #e5e5e5;
}
.btn-success {
  background-color: #777676;
  border-color: #777676;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #858585;
  border-color: #858585;
}
.login_info {
  padding: 15px;
  float: right;
}
.login_info .avatar {
  border: 2px solid #FFFFFF;
  height: 25px;
  width: 25px;
}
.emailinfo {
  color: orange;
}
.btn-auxiliar {
  height: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.call_data .call_on_web {
  margin-right: 20px;
}
.banner {
  margin-bottom: 10px;
}
.banner img {
  width: 100%;
}
#header h1 {
  font-size: 28px;
  color: #a7a7a7;
  margin: 0px 0px 20px 0px;
}
#header h1 a span.title {
  color: #263774;
  font-weight: bold;
}
#header h1 a,
#header h1 a:hover {
  color: #a7a7a7;
  text-decoration: none;
}
.order-details .total-label,
.order-details .total-cost {
  font-weight: bold;
}
.order-details th {
  border-bottom: solid 2px #a9a9a9;
}
.order-details .total td {
  border-top: solid 2px #a9a9a9;
}
.input-sm.form-control {
  width: 100px;
}
.order-details table {
  width: 100%;
}
.order-details th,
.order-details td {
  padding-left: 10px;
}
